@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "DM Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  --sb-track-color: #fafafa;
  --sb-thumb-color: #808080;
  --sb-size: 11px;
}

/* Apply custom scrollbar styles to the body */
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}
/* body.modal-open {
  overflow: scroll;
} */

/* Apply custom scrollbar styles to all scrollable elements */
*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

/* For browsers that do not support ::-webkit-scrollbar */
@supports not selector(::-webkit-scrollbar) {
  body,
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
